<h1>Add a new project</h1>

<form action="/projects" method="post">
    <div class="form-group">
      <label for="project_title">Project Title</label>
      <input type="text" name="project_title">
    </div>
    <button type="submit" name="btn">Create Project</button>
</form>